@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');

/*** GLOBAL CLASSES ***/
body{
    background-color: #0D1829 !important;
    font-family: 'Jost' !important;
    
}

.row {
    display: flex;  
} 

.container-fluid {
    background-color: #4FFFD6;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-group {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.form-input {
    width: 85%;
    border-radius: 8px;
    border-style: none;
    background: #0D1829;
    padding: 8px; 
}

.search-input {
    background-color: #92ffe5;
    color: #fff !important;
}

.search-input::placeholder {
    padding-left: 2em;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 512 512%22%3E%3Cpath fill=%22%23bbb%22 d=%22M503.3 475.7L365.4 337.8c31.4-38.4 50.6-87.4 50.6-140.5C416 85.4 330.6 0 217 0S18 85.4 18 191.3s85.4 191.3 191 191.3c53.1 0 102.1-19.2 140.5-50.6l137.9 137.9c9.3 9.3 24.5 9.3 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6.1-34zM209 352.6c-78.7 0-142.6-63.9-142.6-142.6S130.3 67.4 209 67.4 351.6 131.3 351.6 210s-63.9 142.6-142.6 142.6z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: left center;
  }

  .list-group {
    display: flex;
    flex-direction: row !important;
    gap: .7em;
    font-size: 10px;
    color: #fff;
    z-index: 6;
}

.current-data {
   color: #4FFFD6 !important;
   
}

.current-data, .date {
    display: flex;
    justify-content: center;
    color: #fff;
}

.current-temp {
 display: flex;
 justify-content: center; 
 font-size: 80px;  
 color: #fff;
}

.description {
    display: flex;
    justify-content: center;
    color: #4FFFD6;
}

.current-wind {
    display: flex;
    justify-content: center; 
    color: #fff;
   }

.current-humidity {
    display: flex;
    justify-content: center; 
    color: #fff;
   }

.big-image {
    display: flex;
    justify-content: center;
}

.big-image img {
    width: 20%;
}

/* #today {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
} */
.validate-message {
    color: crimson;
    font-size: medium;
    display: flex;
    justify-content: center;
    
}

.today-main {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.day {
    display: flex;
}



.listButton {
    background: none;
    border-style: none;
    
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}

img{
    vertical-align: middle;
    border-style: none;
    width: 40%;
    float: right;
}

.card-styling {
    padding: 20px;
    background-color: rgb(53, 73, 73);
    border-radius: 4px;
    font-size: medium;
    color: #fff;
    
}
.card-styling p {
    
    color: #fff;
}

#forecast {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
    padding: 8px;
    width: 100%;
}

.hide {
    display: none;
}

#fiveDayHeader {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.five-day-forecast{
    display: flex;
    flex-direction: row;
}
.results  {
    color: rgb(53, 73, 73);
    font-size: 1.5rem;

}

@media (min-width: 576px) {
    .form-group {
        width: 50%;
    }
}