/*** GLOBAL CLASSES ***/

.row {
    display: flex;
    
} 
#today {
    border-style: solid;
    border-width: 2px;
}

li {
    list-style: none;
    border-radius: 4px;
    background-color: lightgrey;
    height: 20%;
    text-align: center;
    padding: 10px;
    margin-bottom: 5%;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}

.form-input {
    padding-left: 8px;
}

.mt-3 {
    padding: 10px 20px;
}

.card-styling {
    padding: 20px;
    background-color: aqua;
    border-radius: 4px;
    
}
